body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

@media screen and (max-width: 480px) {
    body {
      font-size: 14px;
    }

    header {
      padding: 15px;
    }

    h2 {
      font-size: 22px;
    }
  }

  header img {
    width: 300px;
    /* Cambiar el ancho de la imagen */
    height: 200px;
    /* Cambiar la altura de la imagen */
    border-radius: 15%;
    /* Agregar bordes redondos */
  }

#map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.satellite-list {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 5px;
    max-height: 80%;
    overflow-y: auto;
}

.satellite-list h2 {
    margin-top: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    padding: 5px 0;
    border-bottom: 1px solid #ccc;
}

li:last-child {
    border-bottom: none;
}

h1 {
  text-align: center;
}
